/* Local Styles Go Here! */
.home-bg {
    background-image: url('http://douglasavenue.com/bbsimg/mgronald1.jpg');
    background-position: top left;
    background-repeat: no-repeat;
    min-height: 800px;
}

.tester_block {
    margin-top: 150px;
    background-color: aliceblue;
    opacity: 80%;
}

.reg-bg {
    background-image: url('http://douglasavenue.com/bbsimg/mgronald2.jpg');
    background-position: top left;
    background-repeat: no-repeat;
    min-height: 800px;
}

.krona {
    font-family: 'Krona One', sans-serif;
}

.anton {
    font-family: 'Anton', sans-serif;
}

.kanit-200 {
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
}

.kanit-900 {
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
}

.kula {
    font-family: 'Khula', sans-serif;
    font-weight: 800;
}

.mainpic {
    width: 150px;
}

.postPic {
    width: 50px;
    height: 50px;
    margin: 2px 0 0 6px;
}

.xl-text {
    font-size: 4.5rem;
}

a:hover {
    text-decoration: none;
}