/* Local Styles Go Here! */
.home-bg {
    background-image: url('http://douglasavenue.com/img/cheeseburger.png');
    background-position: top;
    background-repeat: no-repeat;
    min-height: 800px;
}