{% extends 'bbs/base.html' %}
{% block content %}
<div class="row">
    <div class="col-7 p-5 text-center">
        <h2 class="anton">Update Event</h2>
        <hr class="mx-5 border border-secondary rounded shadow">
    </div>
</div>
<div class="row mt-2">
    <form action="" method="POST">
        <div class="form-group">
            <label for="eventTitle">Title</label>
            <input type="text" name="eventTitle" id="eventTitle" class="form-control" value="">
        </div>
        <div class="form-group">
            <label for="eventDesc">Description</label>
            <textarea name="eventDesc" id="eventDesc" rows="5" class="form-control"></textarea>
        </div>
        <div class="form-row">
            <div class="form-group col-4">
                <label for="eventStart">Start Date:</label>
                <input type="date" name="eventStart" id="eventStart" class="form-control" value="">
            </div>
            <div class="form-group col-4">
                <label for="eventEnd">End Date:</label>
                <input type="date" name="eventEnd" id="eventEnd" aria-describedby="dateHelp" class="form-control" value="">
                <small id="dateHelp" class="form-text text-muted">Choose same as start for one-day event.</small>
            </div>
            <div class="form-group col-4">
                <label for="eventDept">Department</label>
                <select name="eventDept" id="eventDept" aria-describedby="deptHelp" class="form-control">
                    {% for key, value in deptList.items %}
                        {% if key == 8 %}
                        <option selected value="{{ key }}">{{ value }}</option>
                        {% else %}
                        <option value="{{ key }}">{{ value }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <small id="deptHelp" class="form-text text-muted">Storewide is default.</small>
            </div>
        </div>
        <div class="col text-right">
            <button type="submit" class="btn btn-primary">Update Event</button>
        </div>
    </form>
</div>
{% endblock %}