{% extends 'bbs/base.html' %}
{% block content %}
<div class="rounded shadow mt-5 px-3 py-2">
    <div class="row w-100 rounded text-center">
        <div class="col mt-5">
            <p class="kanit-900 xl-text">Sale On Cheeseburgers!</p>
            <h3 class="m-0 kula">Storewide</h3>
            <h5 class="kula">From February 15, 2021 through February 25, 2021</h5>
        </div>
    </div>
    <hr class="mx-5 border border-light shadow">
    <div class="row justify-content-end w-75">
        <div class="col-11">
            <h2 class="anton">Added by @USERNAME</h2>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-11">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id in rem ut magni quam rerum, consequuntur corrupti quos expedita porro delectus, 
                necessitatibus deserunt commodi labore officia asperiores repellat dicta at.</p>
        </div>
    </div>
    <div class="row justify-content-end my-3">
        <div class="col-4">
            <button type="button" class="btn btn-success shadow">New Event</button>
            <button type="button" class="btn btn-primary shadow">Edit Event</button>
            <button type="button" class="btn btn-danger shadow">Delete Event</button>
        </div>
    </div>
</div>
{% endblock content %}