{% block footer %}
<footer class="bg-dark text-center text-white fixed-bottom">
    <div class="text-center p-2">
        <img src="https://cdn.douglasavenue.com/krk/media/img/krk-icon.png" class="d-inline mr-3" height="15"
            alt="KRK Logo" loading="lazy" style="margin-top: 2px" />
        <p class="d-inline mr-3 text-white-50">KRK ©2021 Erin Winking <i class="fas fa-chevron-right"></i><i
                class="fas fa-chevron-right"></i> <a href="https://douglasavenue.com" target="_blank"
                rel="noopener noreferrer" class="text-white-50">douglasavenue.com</a></p>
        <a href="https://twitter.com/erinwinking" target="_blank" rel="noopener noreferrer"><i
                class="fab fa-twitter fa-lg mx-1 text-white-50"></i></a>
        <a href="https://github.com/ewink1977" target="_blank" rel="noopener noreferrer"><i
                class="fab fa-github fa-lg mx-1 text-white-50"></i></a>
        <a href="https://www.linkedin.com/in/erinwinking/" target="_blank" rel="noopener noreferrer"><i
                class="fab fa-linkedin fa-lg mx-1 text-white-50"></i></a>
        <a href="https://www.youtube.com/c/ErinMichaelWinking" target="_blank" rel="noopener noreferrer"><i
                class="fab fa-youtube fa-lg mx-1 text-white-50"></i></a>
    </div>
</footer>
{% endblock footer %}