{% block footer %}
<footer class="bg-dark text-center text-white fixed-bottom mt-2">
        <div class="row align-items-center justify-content-center">
                <div class="col-md-5 col-12 text-md-end">
                        <img src="https://cdn.douglasavenue.com/krk/media/img/krk-icon.png" class="d-inline mr-3"
                                height="15" alt="KRK Logo" loading="lazy" style="margin-top: 2px" />
                        <p class="d-inline mr-3 text-white-50">KRK ©2021 erin winking <i class="fas fa-external-link-alt"></i> <a
                                        href="https://douglasavenue.com" target="_blank" rel="noopener noreferrer"
                                        class="text-white-50">douglasavenue.com</a>
                        </p>
                </div>
                <div class="col-md-5 col-12 text-md-start">
                        <a href="https://twitter.com/erinwinking" target="_blank" rel="noopener noreferrer"><i
                                        class="fab fa-twitter fa-lg mx-1 text-white-50"></i></a>
                        <a href="https://github.com/ewink1977" target="_blank" rel="noopener noreferrer"><i
                                        class="fab fa-github fa-lg mx-1 text-white-50"></i></a>
                        <a href="https://www.linkedin.com/in/erinwinking/" target="_blank" rel="noopener noreferrer"><i
                                        class="fab fa-linkedin fa-lg mx-1 text-white-50"></i></a>
                        <a href="https://www.youtube.com/c/ErinMichaelWinking" target="_blank"
                                rel="noopener noreferrer"><i class="fab fa-youtube fa-lg mx-1 text-white-50"></i></a>
                </div>
        </div>
</footer>
{% endblock footer %}