{% extends 'bbs/base.html' %}
{% block content %}
<div class="container">
    <div class="row px-2">
        <div class="col-6 home-bg pt-5">
            <h2>Welcome Employees!</h2>
        </div>
        <div class="col-6">
            <div class="col mt-5 border border-secondary rounded shadow">
                <h1>Log In</h1>
            </div>
            <div class="col mt-5 border border-secondary rounded shadow">
                <h1>Register
                </h1>
            </div>
        </div>
    </div>
</div>
{% endblock content %}