{% extends 'bbs/base.html' %}
{% block content %}
{% include 'users/header.html' %}
{% include 'bbs/messages.html' %}
<div class="container">
<div class="row my-5">
    <!-- POST DIV -->
    <div class="col-5" id="postDisplayZone">
        <!-- STICKY LOGIC -->
        {% if stickyPosts %}
            {% for post_obj in stickyPosts %}
                {% if post_obj.department != 8 %}
                    {% include 'posts/post_body.html' with tag="danger" %}
                {% endif %}
            {% endfor %}
        {% endif %}
        <!-- STOREWIDE POSTS ARE NEXT IN LINE! -->
        {% if storewidePosts %}
            {% for post_obj in storewidePosts %}
                {% include 'posts/post_body.html' with tag="warning" %}
            {% endfor %}
        {% endif %}
        <!-- FINALLY, THE DEPARTMENT LEVEL POSTS! -->
        {% if page_obj %}
            {% for post_obj in page_obj %}
                {% if post_obj.department != 8 %}
                    {% include 'posts/post_body.html' %}
                {% endif %}
            {% endfor %}
        {% endif %}
        <!-- POST LIST PAGINATION -->
        {% if page_obj.has_other_pages %}
        <div class="w-100 col my-3 text-right">
            {% if page_obj.has_previous %}
            <a href="?page=1"><button type="button" class="btn btn-outline-primary btn-sm">First</button></a>
            <a href="?page={{ page_obj.previous_page_number }}"><button type="button" class="btn btn-outline-primary btn-sm">&laquo;</button></a>
            {% else %}
            <button type="button" class="btn btn-outline-primary btn-sm disabled">&laquo;</button>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <a href="?page={{ num }}"><button type="button" class="btn btn-primary btn-sm">{{ num }}</button></a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}"><button type="button" class="btn btn-outline-primary btn-sm">{{ num }}</button></a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"><button type="button" class="btn btn-outline-primary btn-sm">&raquo;</button></a>
                <a href="?page={{ page_obj.paginator.num_pages }}"><button type="button" class="btn btn-outline-primary btn-sm">Last</button></a>
            {% endif %}
        </div>
        {% endif %}
        <!-- END PAGINATION -->
    </div>
    <!-- USER DIV -->
    <div class="col">
        <div class="row border-bottom border-secondary pb-4">
            <div class="col-sm">
                <img src="{{ user.userProfile.image.url }}" alt="{{ user.username }}'s Profile Picture!" class="mainpic rounded shadow">
            </div>
            <div class="col-sm-8">
                <h1 class="kula m-0"><a href="{% url 'userProfile' user.username %}">@{{ user.username }}</a></h1>
                <h3 class="kanit-200 m-0">{{ user.first_name }} {{ user.last_name }}</h5>
                <!-- Convert Department Number into Department Name! -->
                {% for key, value in deptList.items %}
                    {% if key == user.userProfile.department %}
                    <h4 class="kanit-200 m-0">{{ value }}</h4>
                    {% endif %}
                {% endfor %}
                <div class="row justify-content-end">
                    <div class="pt-4 text-right">
                        {% if timeBoolean == False %}
                        <form action="{% url 'clockIN' %}" class="form-inline" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="oneClick" value="1">
                            <button type="submit" class="btn btn-outline-success mx-1">Clock In</button>
                            <a href="{% url 'logout' %}"><button type="button" class="btn btn-outline-dark mx-1">Log Out</button></a>
                        </form>
                        <small>Did you forget to clock in? Oops! <a href="#clockModal" data-toggle="modal" data-target="#clockModal">Click here</a>.</small>
                        {% else %}
                        <form action="{% url 'clockOUT' %}" class="form-inline" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger mx-1">Clock Out</button>
                            <a href="{% url 'logout' %}"><button type="button" class="btn btn-outline-dark mx-1">Log Out</button></a>
                        </form>
                        <small>Did you forget to clock out? Oops! <a href="#clockModal" data-toggle="modal" data-target="#clockModal">Click here</a>.</small>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-12 text-center p-2">
                <h1 class="kula">Upcoming Events</h1>
            </div>
        </div>
        <div class="row border border-secondary justify-content-end">
            <!-- EVENT LIST -->
            {% for event_obj in eventList|slice:':5' %}
            <div class="col-10 p-3">
                <a href="{% url 'eventView' event_obj.pk %}"><strong>{{ event_obj.title }}</strong></a>
                {% if event_obj.start_date == event_obj.end_date %}
                <p>On {{ event_obj.start_date|date:'l, F j, Y' }}</p>
                {% else %}
                <p>From {{ event_obj.start_date|date:'l, F j, Y' }} through <br />
                        {{ event_obj.end_date|date:'l, F j, Y' }}</p>
                {% endif %}
                <hr class="mx-5 my-1 border border-info">
            </div>
            {% endfor %}
            <!-- END EVENT LIST -->
            <div class="row mx-3 my-4">
                <div class="w-100 col p-0 text-right">
                    <a href="{% url 'eventHome' %}"><button type="button" class="btn btn-outline-primary btn">All Events</button></a>
                </div>
            </div>
        </div>

        <!-- ADD A NEW POST -->

        <div class="col-12 text-center my-3">
            <h1 class="kula mt-1">Post A Message!</h1>
        </div>
        <div class="row border border-secondary justify-content-end">
            <div class="col-12 my-3">
                <form id="newPost" action="{% url 'createPost' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea class="md-textarea form-control" id="bbsPostMessage" name="bbsPostMessage" rows="5"></textarea>
                        <label for="bbsPostMessage">Type Your Message Here!</label>
                    </div>
                    <div class="form-inline">
                        <div class="col text-right">
                            {% if user.userProfile.access_level > 1 %}
                            <select class="custom-select" name="bbsPostDepartment">
                                <option selected>Department/Distribution</option>
                                {% for key, value in deptList.items %}
                                <option value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                            </select>
                            <select class="custom-select" name="bbsPostPriority">
                                <option selected>Post Priority</option>
                                <option value="1">Normal</option>
                                <option value="2">Sticky</option>
                            </select>
                            {% endif %}
                            <button type="submit" class="btn btn-outline-primary">Post Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- TIME EDIT MODAL -->
<div class="modal fade" id="clockModal" tabindex="-1" role="dialog" aria-labelledby="clockModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clockModalLabel">Manual Time Entry</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-4">
                {% if timeBoolean == False %}
                <form action="{% url 'manualClockIN' %}" method="POST">
                    {% csrf_token %}
                    <label for="time">Set your clock in time.</label>
                    <input type="datetime-local" name="time" id="time" class="form-control mb-3">
                {% else %}
                <form action="{% url 'manualClockOUT' %}" method="POST"> 
                    {% csrf_token %}
                    <label for="time">Set your clock out time.</label>
                    <input type="datetime-local" name="time" id="time" class="form-control mb-3">
                {% endif %}
                    <button type="button" class="btn btn-secondary my-1" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary my-1">Submit Time</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<!-- END TIME EDIT MODAL -->

<!-- AJAX FOR THE POST LIST GOES HERE! -->
<!-- UPDATE THE DISPLAY AFTER A POST IS ADDED & CLEAR THE FORM DATA! -->
<script>
    $('#newPost').submit(function (e) {
        e.preventDefault()
        $.ajax({
            url: '{% url "createPost" %}',
            method: 'post',
            data: $(this).serialize(),
            success: function(serverResponse) {
                $( '#postDisplayZone' ).html(serverResponse);
                $( '#newPost' ).trigger("reset");
            }
        })
    })

// <!-- UPDATE THE DISPLAY EVERY 30 SECONDS IN CASE SOMEONE ELSE ADDED A POST! -->

    const update = () => {
        $.ajax({
            url: '{% url 'partialReturn' %}',
            method: 'get',
            ifModified: 'true',
            success: function(serverResponse) {
                console.log("Poking the server!");
                $( '#postDisplayZone' ).html(serverResponse);
            }
        })
    }

    {% comment %} window.setInterval(update, 30000); {% endcomment %}
    
</script>

{% endblock content %}