{% extends 'bbs/base.html' %}
{% block content %}
<div class="row my-3 mx-3 justify-content-end">
    <div class="col-3 text-right"><small><a href="{% url 'bbsHome' %}">BBS Main Page</a> | <a href="{% url 'logout' %}">Log Out</a></div></small>
</div>
<div class="row my-3 mx-3 border border-dark rounded shadow justify-content-end">
    <div class="col-6 ml-5 mt-5 text-right">
        <h1 class="anton">{{ viewUser.username }}</h1>
        <h3>{{ viewUser.first_name }} {{ viewUser.last_name }}</h3>
        <h4>{{ viewUser.email }}</h4>
        <h4>{{ viewUser.userProfile.position }}</h4>
        <p>{{ viewUser.userProfile.bio }}</p>
        
        <!-- Convert Department Number into Department Name! -->
        {% for key, value in deptList.items %}
            {% if key == viewUser.userProfile.department %}
            <h4>{{ value }}</h4>
            {% endif %}
        {% endfor %}

        {% if user.id == viewUser.id or user.userProfile.access_level > 1 %}
        <div class="col-sm p-4 text-right">
            <a href="{% url 'editUserProfile' viewUser.username %}"><button type="button" class="btn btn-outline-primary">Update</button></a>
        </div>
        {% endif %}
    </div>
    <div class="col-5 p-5 text-right">
        <img src="http://douglasavenue.com/bbsimg/bbsplaceholder.jpg" alt="Placeholder Image" class="rounded shadow" style="width: 300px;">
    </div>
</div>
<h2 class="mx-5 my-2">{{ viewUser.username }}'s Posts</h2>
<div class="row my-3 mx-3">
    <div class="col-8">
        <!-- BBS POST -->
        <div class="row border border-secondary rounded shadow p-2 mx-1">
            <div class="row mb-2 w-100">
                <div class="media">
                    <img class="align-self-start ml-3 rounded-circle shadow postPic" src="http://douglasavenue.com/bbsimg/bbsplaceholder.jpg" alt="placeholder image">
                    <div class="media-body ml-3 mt-2">
                        <h3 class="anton"><a href="" class="text-dark">@USERNAME</a> <small class="kanit-200 text-muted">First Last</small></h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col mx-2">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit eveniet repellendus cumque dignissimos maxime culpa sequi, neque minus quisquam, enim aliquid, distinctio et nisi tenetur commodi qui autem ipsum molestias?</p>
                </div>
            </div>
            <hr class="w-100 mx-5 my-2 border rounded shadow">
            <div class="row w-100 px-3 mx-auto align-items-center justify-content-around">
                <div class="col-2 align-self-center">
                    <span style="font-size: 1.2rem;"><i class="text-success fas fa-comment-dots"></i> 5</span>
                </div>
                <div class="col-2 align-self-center">
                    <span style="font-size: 1.2rem;"><i class="text-danger fas fa-heart"></i> 6</span>
                </div>
                <div class="col-2 align-self-center">
                    <span style="font-size: 1.2rem;"><i class="text-primary fas fa-bullhorn"></i></span>
                </div>
            </div>
        </div>
        <!-- END BBS POST -->
    </div>
    <div class="col-4">
        <span class="text-center"><h3>Time Management?</h3></span>
    </div>
</div>

{% endblock content %}