{% extends 'bbs/base.html' %}
{% block content %}
{% load tz %}
{% load durations %}
{% include 'bbs/header.html' %}
{% include 'bbs/messages.html' %}
<div class="container">
    <div class="col text-end py-3">
        <a href="{% url 'bbsHome' %}" class="btn btn-primary btn-lg shadow" role="button"><i
                class="fas fa-backspace fa-lg me-2"></i>BACK TO BBS MAIN PAGE</a>
    </div>
    <div class="row my-3 mx-3 border border-dark rounded shadow justify-content-end">
        <div class="col-md-6 ml-5 mt-5 text-end">
            <h1 class="anton">{{ viewUser.username }}</h1>
            <h3>{{ viewUser.first_name }} {{ viewUser.last_name }}</h3>
            <h4>{{ viewUser.email }}</h4>
            <h4>{{ viewUser.userProfile.position }}</h4>
            <p>{{ viewUser.userProfile.bio }}</p>

            <!-- Convert Department Number into Department Name! -->
            {% for key, value in deptList.items %}
            {% if key == viewUser.userProfile.department %}
            <h4>{{ value }}</h4>
            {% endif %}
            {% endfor %}

            {% if user.id == viewUser.id %}
            <div class="col-md p-4 text-right">
                <a href="{% url 'editUserProfile' %}"><button type="button"
                        class="btn btn-outline-primary">Update</button></a>
            </div>
            {% endif %}
        </div>
        <div class="col-sm-6 p-5">
            <img src="{{ viewUser.userProfile.image.url }}" alt="{{ viewUser.username }}'s Profile Picture"
                class="rounded shadow img-fluid" style="max-height: 275px;">
        </div>
    </div>
    <div class="row my-5 mx-3">
        <div class="col-md-6">
            <h2 class="mx-5 my-2">{{ viewUser.username }}'s Posts</h2>
            {% for post_obj in userPosts %}
            <!-- BBS POST -->
            {% include 'posts/post_body.html' %}
            {% endfor %}
            {% if userPosts.has_other_pages %}
            <div class="w-100 col my-3 text-right">
                {% if userPosts.has_previous %}
                <a href="?page=1"><button type="button" class="btn btn-outline-primary btn-sm">First</button></a>
                <a href="?page={{ userPosts.previous_page_number }}"><button type="button"
                        class="btn btn-outline-primary btn-sm">&laquo;</button></a>
                {% else %}
                <button type="button" class="btn btn-outline-primary btn-sm disabled">&laquo;</button>
                {% endif %}
                {% for num in userPosts.paginator.page_range %}
                {% if userPosts.number == num %}
                <a href="?page={{ num }}"><button type="button" class="btn btn-primary btn-sm">{{ num }}</button></a>
                {% elif num > userPosts.number|add:'-3' and num < userPosts.number|add:'3' %}
                <a href="?page={{ num }}"><button type="button"
                        class="btn btn-outline-primary btn-sm">{{ num }}</button></a>
                {% endif %}
                {% endfor %}
                {% if userPosts.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"><button type="button"
                        class="btn btn-outline-primary btn-sm">&raquo;</button></a>
                <a href="?page={{ page_obj.paginator.num_pages }}"><button type="button"
                        class="btn btn-outline-primary btn-sm">Last</button></a>
                {% endif %}
            </div>
            {% endif %}
            <!-- END PAGINATION -->
        </div>
        <div class="col-md-6">
            <h2 class="mx-5 my-2">{{ viewUser.username }}'s Last 5 Replies</h2>
            {% for reply_obj in userReplies|slice:":5" %}
            <!-- BBS REPLIES -->
            {% include 'posts/reply_body.html' %}
            <!-- END BBS REPLY POST -->
            {% endfor %}
        </div>
    </div>
    {% if user.id == viewUser.id or user.userProfile.access_level > 1 %}
    <div class="row rounded shadow p-4 mb-5 my-2">
        <span class="text-center">
            <h3>Time Management</h3>
        </span>
        <hr class="border rounded shadow">
        <div class="row border border-dark rounded shadow my-4">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Date</th>
                            <th scope="col">Clock In</th>
                            <th scope="col">Clock Out</th>
                            <th scope="col">Time Worked (H:M)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for punch in timeClock|slice:":10" %}
                        <tr>
                            <th scope="row">{{ punch.pk }}</th>
                            <td>{{ punch.time_in|date:"SHORT_DATE_FORMAT" }}</td>
                            {% localtime on %}
                            <td>{{ punch.time_in|date:"H:i" }}</td>
                            <td>{{ punch.time_out|date:"H:i" }}</td>
                            {% endlocaltime %}
                            <td>{{ punch.total|duration }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col text-end py-3">
                    <a href="{% url 'allPunches' viewUser.username %}" role="button" class="btn btn-warning btn-rounded">See all punches.</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% include 'bbs/footer.html' %}
{% endblock content %}