{% extends 'bbs/base.html' %}
{% block content %}
{% include 'bbs/header.html' %}
{% include 'bbs/messages.html' %}
<div class="row w-100 d-flex justify-content-center p-5">
    <div class="col-md-5 text-center">
        <h1>
            ARE YOU SURE YOU WANT TO DELETE THE POST?
        </h1>
        <h4>THERE IS NO UNDOING THIS!</h4>
        {% include 'posts/post_body.html' %}
    </div>

<div class="row m-2">
    <div class="col-md-6 text-end">
        <a href="{% url 'postView' post_obj.pk %}"><button type="button" class="btn btn-secondary btn-lg">NO! CANCEL!!</button></a>
    </div>
    <div class="col-md-6 text-left">
        {% if postType == 1 %}
        <form action="{% url 'deletePostFinal' post_obj.pk %}" method="POST">
        <input type="hidden" name="postType" name="postType" value="1">
        <input type="hidden" name="postID" name="postID" value="{{ post_obj.pk }}">
        {% elif postType == 2 %}
        <form action="{% url 'deleteReplyFinal' post_obj.pk %}" method="POST">
        <input type="hidden" name="postType" name="postType" value="2">
        <input type="hidden" name="replyID" name="replyID" value="{{ post_obj.pk }}">
        {% endif %}
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-lg">YUP! DELETE IT!</button>
        </form>
    </div>
    </div>
</div>
{% include 'bbs/footer.html' %}
{% endblock content %}