<!-- POST BODY -->
<div class="card my-2 mr-1 border border-{{ tag }}">
    <div class="card-header">
        <div class="row mb-2 w-100 align-items-center">
            <div class="col-2">
                <img class="ml img-fluid rounded-circle shadow-2-strong postPic"
                    src="{{ post_obj.author.userProfile.image.url }}" alt="{{ post_obj.author.username }}'s picture.">
            </div>
            <div class="col-10" style="margin-left: -15px;">
                <h3 class="anton mt-2"><a href="{% url 'userProfile' post_obj.author.username %}"
                        class="text-dark">@{{ post_obj.author.username }}</a>
                    <small class="kanit-200 text-muted">{{ post_obj.author.first_name }}
                        {{ post_obj.author.last_name }}</small>
                </h3>
            </div>
        </div>
    </div>
    <div class="card-body mx-2">
        <p class="card-text">
            {{ post_obj.content }}
        </p>
        <div class="row">
            <small class="text-end">
                <a href="{% url 'postView' post_obj.pk %}">{{ post_obj.created_at|date:"l, N j, Y @ f A" }}</a>
            </small>
        </div>
    </div>
    <div class="card-footer">
        <div class="row w-100 px-3 mx-auto align-items-center justify-content-around">
            <div class="col-2 align-self-center">
                <span style="font-size: 1.2rem;"><a href="{% url 'postView' post_obj.pk %}#reply"><i
                            class="text-primary fas fa-reply fa-lg"></i>
                        {% if post_obj.bbsReply.all|length > 0 %}
                        <span
                            class="badge rounded-pill badge-notification bg-primary border border-dark">{{ post_obj.bbsReply.all|length }}</span>
                        {% endif %}</a>
            </div>
            <div class="col-2 align-self-center">
                <span style="font-size: 1.2rem;"><a href="{% url 'likePost' post_obj.pk %}"><i
                            class="text-danger fas fa-heart fa-lg"></i></a>
                    {% if post_obj.likes.all|length > 0 %}
                    <span
                        class="badge rounded-pill badge-notification bg-danger border border-dark">{{ post_obj.likes.all|length }}</span>
                    {% endif %}
            </div>
            {% if post_obj.priority == 2 or post_obj.department == 8 %}
            <div class="col-2 align-self-center">
                <span style="font-size: 1.2rem;"><i class="text-{{ tag }} fas fa-thumbtack fa-lg"
                        title="Storewide or Sticky Post!"></i></span>
            </div>
            {% endif %}
        </div>
    </div>
</div>