{% extends 'bbs/base.html' %}
{% block content %}
<div class="row justify-content-end">
    <div class="col-12 my-3">
        <!-- MAIN POST -->
        <div class="row border border-rounded shadow p-4 mx-1 my-3">
            <div class="row mb-2 w-100">
                <div class="media">
                    <img class="align-self-start ml-3 rounded-circle shadow postPic" src="http://douglasavenue.com/bbsimg/bbsplaceholder.jpg" alt="placeholder image">
                    <div class="media-body ml-3 mt-2">
                        <h3 class="anton"><a href="{% url 'userProfile' postObj.author.username %}" class="text-dark">@{{ postObj.author.username }}</a> 
                            <small class="kanit-200 text-muted">{{ postObj.author.first_name }} {{ postObj.author.last_name }}</small></h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col mx-2">
                    <p>
                        {{ postObj.content }}
                    </p>
                    <small>
                        <a href="{% url 'postView' postObj.pk %}">{{ postObj.created_at|date:"l, N j, Y @ f A" }} </a>
                        {% if request.user.userProfile.access_level >= 2 or request.user == postObj.author %}
                        | <a href="{% url 'deletePost' postObj.pk %}">Delete Post</a>
                        {% endif %}
                    </small>
                </div>
            </div>
            <hr class="w-100 mx-5 my-2 border rounded shadow">
            <div class="row w-100 px-3 mx-auto align-items-center justify-content-around">
                <div class="col-2 align-self-center">
                    <span style="font-size: 1.2rem;"><a href="{% url 'postView' postObj.pk %}#reply"><i class="text-success fas fa-comment-dots"></i></a> 
                        {% if postObj.bbsReply.all|length > 0 %}
                        {{ postObj.bbsReply.all|length }}</span>
                        {% else %}
                        0</span>
                        {% endif %}
                </div>
                <div class="col-2 align-self-center">
                    <span style="font-size: 1.2rem;"><a href="{% url 'likePost' postObj.pk %}"><i class="text-danger fas fa-heart"></i></a> 
                        {% if postObj.likes.all|length > 0 %}
                        {{ postObj.likes.all|length }}</span>
                        {% else %}
                        0</span>
                        {% endif %}
                </div>
            </div>
        </div>
        <!-- END POST BODY -->
    </div>
</div>
{% if replies %}
    {% for reply_obj in replies %}
<div class="row justify-content-end">
    <div class="col-10">
        <!-- REPLY POST -->
        <div class="row border border-rounded shadow p-2 mx-1 my-3">
            <div class="row mb-2 w-100">
                <div class="media">
                    <img class="align-self-start ml-3 rounded-circle shadow postPic" src="http://douglasavenue.com/bbsimg/bbsplaceholder.jpg" alt="placeholder image">
                    <div class="media-body ml-3 mt-2">
                        <h3 class="anton"><a href="{% url 'userProfile' reply_obj.author.username %}" class="text-dark">@{{ reply_obj.author.username }}</a> 
                            <small class="kanit-200 text-muted">{{ reply_obj.author.first_name }} {{ reply_obj.author.last_name }}</small></h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col mx-2">
                    <p>
                        {{reply_obj.content }}
                    </p>
                    <small>
                        <span class="text-primary">{{ reply_obj.created_at|date:"l, N j, Y @ f A" }} </span>
                        {% if request.user.userProfile.access_level >= 2 or request.user == reply_obj.author %}
                        | <a href="{% url 'deleteReply' reply_obj.pk %}">Delete Reply</a>
                        {% endif %}
                    </small>
                </div>
            </div>
            <hr class="w-100 mx-5 my-2 border rounded shadow">
        </div>
        <!-- END POST BODY -->
    </div>
</div>
    {% endfor %}
{% endif %}
<div class="row justify-content-end" id="reply">
    <div class="col-8">
        <form action="{% url 'replyPost' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <textarea class="form-control" id="bbsReplyMessage" name="bbsReplyMessage" rows="5">Type your message here...</textarea>
            </div>
            <input type="hidden" name="bbsReplyParent" id="bbsReplyParent" value="{{ postObj.pk }}">
            <div class="form-inline">
                <div class="col text-right">
                    <button type="submit" class="btn btn-outline-primary">Post Reply</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}