{% extends 'bbs/base.html' %}
{% block content %}
{% include 'bbs/header.html' %}
{% include 'bbs/messages.html' %}
<div class="container">
    <div class="col text-end mt-2">
            <a href="{% url 'bbsHome' %}" class="btn btn-primary btn-lg shadow" role="button"><i
                    class="fas fa-backspace fa-lg me-2"></i>BACK TO BBS MAIN PAGE</a>
    </div>
    <div class="row d-flex justify-content-center my-1">
        <div class="col-6">
        {% include 'posts/post_body.html' %}
        </div>
    </div>
    {% if replies %}
    {% for reply_obj in replies %}
    <div class="row d-flex justify-content-center">
        <div class="col-6">
        <!-- REPLY POST BODY HERE -->
        {% include 'posts/reply_body.html' %}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <div class="row d-flex justify-content-center mb-5" id="reply">
        <div class="col-6">
            <form action="{% url 'replyPost' %}" method="POST">
                {% csrf_token %}
                <div class="form-outline">
                    <textarea class="md-textarea form-control" id="bbsReplyMessage" name="bbsReplyMessage" rows="5"></textarea>
                    <label class="form-label" for="bbsPostMessage">Type Your Message Here!</label>
                </div>
                <input type="hidden" name="bbsReplyParent" id="bbsReplyParent" value="{{ post_obj.pk }}">
                <div class="form-inline">
                    <div class="col text-right">
                        <button type="submit" class="btn btn-outline-primary mt-1">Post Reply</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% include 'bbs/footer.html' %}
{% endblock %}